/* Backgrounds */
.bg-white {
  background-color: #FFF;
}

.bg-lightbl {
  background-color: #F3F5F9;
}

.bg-blue{
  background: linear-gradient(#0044F0,#00209B) 50% no-repeat;
}

.bg-darkbl {
  background-color: #031C4E;
}
/* / Backgrounds */

.page-container {
  margin: 0 auto;
  max-width: 1000px;
}


.nav-bar {
  width: 25px;
}

.nav-bar>* {
  background-color: #2787FD;
  height: 3px;
  margin-bottom: 5px;
}

#navmenu>* {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 25px;
  margin: 0;
}
#navmenu img {
  height: 25px;
}


/* ! Provvisori ! */

#jumbotron {
  min-height: 500px;
}

#partners {
  min-height: 280px;
}

#deploy {
  min-height: 700px;
}
#designed {
  min-height: 780px;
}

#features {
  min-height: 440px;
}

#regions {
  min-height: 420px;
}

#teams {
  min-height: 720px;
}

#start {
  min-height: 260px;
}

#footer {
  min-height: 530px;
}
/* / ! Provvisori ! */
