body {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: 400;
}

ul {
  margin-bottom: 0;
}

h1, h2, h3 {
  margin-top: 0;
  font-weight: bold;
}

/* COLORS (Background & Text) */
.bg-white {
  background-color: #FFF;
}

.bg-lightbl {
  background-color: #F3F5F9;
}

.bg-blue{
  background: linear-gradient(#0044F0,#00209B) 50% no-repeat;
}

.bg-darkbl {
  background-color: #031C4E;
}

.txt-drk {
  color: #5C6A88;
}

.txt-drk h1, .txt-drk h2, .txt-drk h3 {
  color: #031C4E;
}

.txt-lght {
  color: rgba(255, 255, 255, 0.6);
}

.txt-lght h1, .txt-lght h2, .txt-lght h3 {
  color: #FFF;
}

.txt-lghtbl {
  color: #006AFF;
}
/* / COLORS (Background & Text) */

/* SPACES (Margin & Padding) */
.dv-hght-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.dv-hght-60>*:not(:last-child){
  margin-bottom: 40px;
}

.nstd-cnt>* {
  margin-bottom: 12px;
  font-size: 0.9em
}
/* / SPACES (Margin & Padding) */

/* Utility CSS */
.inl-blc {
  display: inline-block;
}

.bld {
  font-weight: bold;
}

.btn:hover {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.slide-tb .glyphicon {
  font-size: 1.6em;
  padding: 0 8px;
  width: 36px;
}

.slide-tb .glyphicon:hover, .slide-tb .glyphicon:focus {
  text-decoration: none;
}

.slide-tb>div {
  vertical-align: middle;
}

.slide-btns .inl-blc{
  width: 10px;
  height: 10px;
  border: 2px solid #006AFF;
  border-radius: 50%;
  margin: 2px;
}

.slide-btns .inl-blc:hover {
  background-color: #006AFF;
}
/* / Utility CSS */

/* INTESTAZIONE */
#navmenu {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  line-height: 25px;
  padding-top: 18px;
  padding-bottom: 18px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

#navmenu img {
  height: 25px;
}

#navmenu .btn{
  border-color: #006AFF;
  font-size: 13px;
  margin-top: -4px;
  color: #006AFF;
}

#navmenu .btn:hover{
  background-color: #006AFF;
  color: #FFF ;
}

#navmenu a{
  color: #031C4E;
  font-weight: 400;
  font-size: 15px;
}

#navmenu .hamb-m {
  width: 30px;
  height: 25px;
}

#navmenu .hamb-m>* {
  background-color: #2787FD;
  height: 4px;
  margin-bottom: 7px;
}

#jumbotron {
  background: url('../img/00-bg.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 65px;
}

#jumbotron h1 {
  margin-top: 25px;
  font-size: 2.5em;
}

#jumbotron h2, h3 {
  font-size: 1.4em;
}

#jumbotron .subscript {
  padding-top: 15px;
  padding-bottom: 15px;
}

#jumbotron form>* {
  display: block;
  width: 100%;
}

#jumbotron form>.btn:first-of-type{
  background-color: rgba(0,74,255,0.6);
  color: #FFF;
}

#jumbotron form>.btn:first-of-type:hover{
  background-color: rgba(0,74,255);
}

#jumbotron form>.btn-default{
  border: 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

#partners>.container>* {
  margin-top: 42px;
  margin-bottom: 42px;
}

#start .btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFF;
}
/* / INTESTAZIONE */

/* CORPO PRINCIPALE */
#deploy a {
  color: #75809A;
}

#deploy ul.tab-list {
  border-left: 1px solid #ccc;
  padding: 20px 0 20px 20px;
  margin-bottom: 20px;
}

#regions ul {
  font-size: 0.9em;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

#regions a {
  color: #00D5D1;
}

#regions ul:not(:last-child) {
  border-bottom: 1px solid #FFF;
}

#teams .slide-tb>.inl-blc>* {
  margin: 30px auto;
}

#deploy, #features, #regions, #footer {
  margin-bottom: -12px;
}
/* / CORPO PRINCIPALE */

/* FOOTER */

#footer a {
  color: rgba(255, 255, 255, 0.6);
}

#footer .txt-opc {
  opacity: 0.5;
}

#footer .social-ico>* {
  margin-right: 10px;
  font-size: 1.2em;
}

#footer .social-ico>a:hover {
  text-decoration: none;
  opacity: 1;
}

/* / FOOTER */

/* MEDIAQUERY */
@media screen and (min-width: 768px) {
  #jumbotron h1 {
    font-size: 3.5em;
  }

  #deploy div.tab-list>* {
    min-height: 210px;
  }

  .slide-tb>div {
    width: calc(100% - 79px);
  }
}

@media screen and (min-width: 992px) {
  #deploy div.tab-list>* {
    min-height: 170px;
  }
}
/* / MEDIAQUERY */
