/* Backgrounds */
.bg-white {
  background-color: #FFF;
}

.bg-lightbl {
  background-color: #F3F5F9;
}

.bg-blue{
  background: linear-gradient(#0044F0,#00209B) 50% no-repeat;
}

.bg-darkbl {
  background-color: #031C4E;
}
/* / Backgrounds */

#navmenu {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 35px;
}

#navmenu img {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 35px;
}

#navmenu ul {
  margin: 0;
}

#navmenu .btn{
  border-color: #006AFF;
  color: #006AFF;
}

#navmenu .btn:hover{
  background-color: #006AFF;
  color: #FFF;
}

#navmenu a{
  color: #031C4E;
  font-weight: 500;
}

#navmenu .hamb-m {
  width: 30px;
  height: 35px;
}

#navmenu .hamb-m>* {
  background-color: #2787FD;
  height: 4px;
  margin-bottom: 7px;
}




/* ! Provvisori ! */

#jumbotron {
  min-height: 500px;
}

#partners {
  min-height: 280px;
}

#deploy {
  min-height: 700px;
}
#designed {
  min-height: 780px;
}

#features {
  min-height: 440px;
}

#regions {
  min-height: 420px;
}

#teams {
  min-height: 720px;
}

#start {
  min-height: 260px;
}

#footer {
  min-height: 530px;
}
/* / ! Provvisori ! */
